.grid{
    display: flex;
    flex-wrap: wrap;
    grid-gap: 10px;
   margin-left: 10%;
}

.xxxx{
    width: 20%;

}
.xxxx img{
    vertical-align: middle;
margin-top: 10px;
}

body {
    margin: 0;
}

*{
    box-sizing: border-box;
}